.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}

#expense-tracker{
    min-height: 100dvh;
    max-width: 600px;
    margin: auto;
    width: 60dvw;
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#expense-form{
    /* border: 1px solid red; */
    width: 60dvw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.input-field{
    font-size: 20px;
    width: 80%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}
.categories-selection{
    /* border: 1px solid blue; */
    width: 80%;
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.category{
    box-sizing: border-box;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 5px 10px 6px;
    border-radius: 20px;
}
.active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.category-input{
    border: 1px solid black;
}


#submit-button{
    font-size: 25px;
    width: 50%;
    border-radius: 20px;
}

.search-filter{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.search-filter input:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.sort-filter{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-size: 15px;
    padding: 5px 10px 5px;
    border-radius: 20px;
}
.sort-filter:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.expenses{
    /* border: 1px solid purple; */
    /* height: 100px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Expense Card */
.expense-card{
    /* border: 1px solid blue; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 15px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.expense-detail{
    display: flex;
    flex-direction: column;
}
.expense-title{
    font-size: 25px;
    font-weight: 400;
}
.expense-extra-detail{
    display: flex;
    /* border: 1px solid red; */
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.expense-button{
    display: flex;
    gap: 10px;
}
.delete-btn{
    background-image: linear-gradient(red);
}
/* CSS */
